body {
  background: #D1495B;

}
h1 {
  color: magenta;font font-family: monospace; font-size: 80pt;

}
h2
  color: blue; 
form {
  color: #F5D04C;font-family: Verdana; font-weight: bold; background-color: #72A4D2;
}


}
